# Ignore export/output folders
exports/
ADC_Export/

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Jupyter (if you ever use it)
.ipynb_checkpoints/

# OS / editor files
.DS_Store
